#menuList .btn{
  float: right;
}
#feeContentDiv .feeContent{
  display: none;
}

table th{
  text-align: center;
}

#menuList button {
  padding: 0;
  margin: 0;
}

#menuList p {
  line-height: 25px;
  margin: 0;
}
